# Build output directies
/target
*/target
/build
*/build
/bin
*/bin
/help
*/help

# IntelliJ specific files/directories
out
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml

# Eclipse specific files/directories
.classpath
.project
.settings
.metadata

# Application specific files/directories
data.txt

